/* header */
.dogadotion-main {
  background-color: #5c9edc;
  position: relative;
}
.header-logo {
  height: 100px;
  width: 130px;
  padding-left: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background: #fdf3e7; */
  border-bottom: 1px solid #ccc;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav a {
  flex: 1;
  text-align: center;
}

.sidebar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Hide it by default */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.show {
  right: 0; /* Slide in */
}

.sidebar button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.close-btn {
  text-align: right;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
